
#banner {
    padding: 20px 20px;
}

div {
    width: 100%;
}

.ul_links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: table;
}

.li_links_first {
    border-left: 1px solid black;
}

.li_links {
    display: inline;
    float: left;
    padding: 2px 16px;
    border-right: 1px solid black;
}

#header_border_div {
    border-top: 1px solid black;
    padding: 10px;
}
