
.ex_word.correct {
    background-color: lightgreen;
}

.ex_word.incorrect {
    background-color: salmon;
}

#exercise_div {
    font-family: 'Century Gothic';
    font-size: 20px;
    line-height: 20px;
}

.article {
    width: 50px;
}

#take_these {
    padding-left: 40px;
}

#cheater_set {
    padding: 10px;
}
