
.ex_word.correct {
    background-color: lightgreen;
}

.ex_word.incorrect {
    background-color: red;
}

#exercise_div {
    font-family: 'Century Gothic';
    font-size: 20px;
    line-height: 20px;
}

.article {
    width: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
    padding: 14px 16px;
    border: 1px solid black;
}
