<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/exercise.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <script
          src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Die Fehlende Wörter</h1>
        <div class="nav">
            <ul class="ul_links">
                <li class="li_links li_links_first">
                    <a href='{{ url_for("home") }}'>Home</a>
                </li>
                <li class="li_links">
                    <a href='{{ url_for("stats") }}'>Stats</a>
                </li>
            </ul>
        </div>
        <br>
        <div id="selectors_div">
            <select id="document_select">
                <option value="" selected>Please choose a document</option>
            </select>
            <select id="ex_type_select">
                <option value="" selected>Please choose an exercise type</option>
            </select>
        </div>
        <div id="take_these">
            <p>Ä ä Ö ö Ü ü ß</p>
        </div>
        <br>
        <div id="exercise_div">
        </div>
        <div id="buttons_div">
            <button id="new_ex">New Exercise</button>
        </div>
        <div class="error">
        </div>
    </div>
</body>
<script src="static/js/exercise.js"></script>
</html>