<!DOCTYPE html>
<html lang="en">
<title>how to</title>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/dfw.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
</head>
{% include "header.html" %}
<body>
    <div class="row container">
        <h5><b>home</b></h5>
        <ul>
            <li>
                Choose a document and an exercise type to start.
            </li>
            <li>
                In each text box, type in your answer and hit enter when ready to submit.
            </li>
            <li>
                Light green is a right answer. Light red is a wrong answer.
            </li>
        </ul>
        <h5><b>upload exercise</b></h5>
        <ul>
            <li>
                Only UTF-8 encoded text files can be uploaded.
            </li>
            <li>
                Each paragraph must be on one line (i.e. newline characters determine paragraph breaks).
            </li>
            <li>
                The NLP library does not determine language. The NLP library accepts any text and does its best to process it, so please only upload text files that are in German.
            </li>
        </ul>
    </div>
</body>
</html>

