<!DOCTYPE html>
<html lang="en">
<title>home</title>
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/dfw.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous">
    </script>
</head>
{% include "header.html" %}
<body>
    <div class="container">
        <form class="twelve columns" action="{{ url_for('login') }}" method="post">
            <p>email:</p>
            <p><input type="email" name="email"/></p>
            <p>password:</p>
            <p><input type="password" name="password"/></p>
            <p>
                <input type="submit" value="login" name="login"/>
                <input type="submit" value="register" name="register"/>
            </p>
        </form>
    </div>
</body>
<script src="static/js/exercise.js"></script>
</html>
