<!DOCTYPE html>
<html lang="en">
<title>stats</title>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/dfw.css">
    <link rel="stylesheet" href="static/css/stats.css">
    <link rel="stylesheet" href="static/css/normalize.css">
    <link rel="stylesheet" href="static/css/skeleton.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
    </script>
    <script
        src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"
        integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw="
        crossorigin="anonymous">
    </script>
</head>
{% include "header.html" %}
<body>
    <div class="row container">
        <div id="selector_div" class="one-third column">
            <fieldset id="adjectives_set">

                <div class="item">
                    <label class="section_label">adjectives</label>
                </div>
                <div class="item">
                    <input id="adj_nom_checkbox" type="checkbox" class="adjective_checkbox">
                    <label for="adj_nom_checkbox">nominative</label>
                </div>
                <div class="item">
                    <input id="adj_acc_checkbox" type="checkbox" class="adjective_checkbox">
                    <label for="adj_acc_checkbox">accusative</label>
                </div>
                <div class="item">
                    <input id="adj_dat_checkbox" type="checkbox" class="adjective_checkbox">
                    <label for="adj_dat_checkbox">dative</label>
                </div>
                <div class="item">
                    <input id="adj_gen_checkbox" type="checkbox" class="adjective_checkbox">
                    <label for="adj_gen_checkbox">genitive</label>
                </div>

            </fieldset>
            <fieldset id="articles_set">

                <div class="item">
                    <label class="section_label">articles</label>
                </div>
                <div class="item">
                    <input id="art_nom_checkbox" type="checkbox" class="article_checkbox">
                    <label for="art_nom_checkbox">nominative</label>
                </div>
                <div class="item">
                    <input id="art_acc_checkbox" type="checkbox" class="article_checkbox">
                    <label for="art_acc_checkbox">accusative</label>
                </div>
                <div class="item">
                    <input id="art_dat_checkbox" type="checkbox" class="article_checkbox">
                    <label for="art_dat_checkbox">dative</label>
                </div>
                <div class="item">
                    <input id="art_gen_checkbox" type="checkbox" class="article_checkbox">
                    <label for="art_gen_checkbox">genitive</label>
                </div>

            </fieldset>
        </div>
        <div id="chart_div" class="two-thirds column">
        </div>
    </div>
</body>
<script src="static/js/stats.js"></script>
</html>

